{deps_dir, "deps"}.
{deps, [{bpe, ".*", {git, "git://github.com/synrc/bpe", []}},
        {nitro, ".*", {git, "git://github.com/synrc/nitro", []}},
        {bert,   ".*", {git, "git://github.com/synrc/bert",    {tag,"2.5"}}},
%        {active, ".*", {git, "git://github.com/synrc/active", []}},
        {cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", []}},
        {n2o,   ".*", {git, "git://github.com/synrc/n2o",   []}},
        {forms, ".*", {git, "git://github.com/synrc/forms", []}},
        {kvx, ".*", {git, "git://github.com/synrc/kvx", []}}]}.
{erl_opts, [nowarn_unused_function,nowarn_duplicated_export]}.
