{deps_dir, "deps"}.

{deps, [{bpe, ".*", {git, "git://github.com/synrc/bpe", []}},
        {nitro, ".*", {git, "git://github.com/synrc/nitro", []}},
        {bert,   ".*", {git, "git://github.com/synrc/bert",    {tag,"2.5"}}},
        {active, ".*", {git, "git://github.com/synrc/active", []}},
        {cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", []}},
        {n2o,   ".*", {git, "git://github.com/synrc/n2o",   []}},
        {rocksdb, ".*", {git, "git://github.com/voxoz/rocks", []}},
        {form, ".*", {git, "git://github.com/synrc/form", []}},
        {kvs, ".*", {git, "git://github.com/synrc/kvs", []}}]}.

{erl_opts, [nowarn_unused_function,nowarn_duplicated_export]}.

{relx, [{release, {bank, "0.7.0"},[bank]},
        {dev_mode, false},
        {sys_config, "sys.config"},
        {vm_args, "vm.args"},
        {include_erts, true},
        {extended_start_script, true}]}.

{shell,[{config, "sys.config"},
        {apps, [bank]}]}.
